{% extends "base.html" %}
{% block title %}Produtos{% endblock %}

{% block content %}
    <h1>Produtos</h1>
    <div class="lista-produtos">
        {% for produto in produtos %}
        <div class="produtos-container">
            
            <section class="produto-imagem">
                <!-- Imagem do produto -->
                {% if produto.foto.url != null %}
                <img src="{{ produto.foto.url }}" alt="Foto de {{ produto.nome }}">
                {% else %}
                <img src="/static/images/camisa_do_flamengo.jpg" alt="Foto padrão de usuário">
                {% endif %}
            </section>
    
            <section>
                <!-- Descrição do produto -->
                <div class="descricao">
                    <h4>{{ produto.nome }}</h4>
                    <p>Categoria: {{ produto.categoria }} </p>
                    <p>Descrição: {{ produto.descricao }} </p>
                    <p>Valor: {{ produto.valor }}</p>
                </div>
    
                <!-- Botão "Compre" -->
                <button class="saiba-mais" data-id="{{ produto.id }}" onclick="mostrarInfo(this)">Compre</button>
    
                <!-- Informações adicionais do produto (inicialmente ocultas) -->
                <div class="info-adicional" id="info-produto-{{ produto.id }}" style="display: none;">
                    <p>Mais informações sobre o produto.</p>
                </div>
            </section>
    
        </div>
        {% endfor %}
    </div>
    <!-- Container para todos os produtos -->

{% endblock %}
